/* You can add global styles to this file, and also import other style files */

html,
body {
//   height: 100%;
// }

// body {
  margin: 0;
  font-family: "Times New Roman", Times, serif , sans-serif;
}


h1 {
  color: #00BCD4;
}


.progress-bar {
  z-index: 2;
}

.search-panel {
  max-width: 320px;
  background-color: rgb(244, 244, 247);
}


.big-search-panel {
  max-width: 520px;
  width: 520px;
  background-color: rgb(244, 244, 247);
}


thead {
  color: #337ab7;
}

.title-spacer {
  flex: 1 1 auto;
}

.search-form-fileld{
    margin-right: 20px;
}

.table-responsive {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}


.filter-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.mat-table {
  overflow-x: scroll;
}

mat-selection-list {
  max-height: 125px;
  font-size: 12px;
  overflow: auto;
  width: 100%  !important;
  border: thick;
}



th {
  //border: 1px solid #ffa600;
  padding: 3px 15px !important;
  text-align: center;
  font-weight: 00 !important;
  color: white !important;
  background-color: black !important;
}

td.mat-cell {
  padding: 5px !important;
 // border: 1px solid #ffa600;
  text-align: left;
  font-weight: 400 !important;
  color: black !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(163, 156, 156);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(228, 216, 216);
}