<mat-card class='light' style="height: 100%;">
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>{{pageTitle }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <it-mat-table [dataSource]="quotationList" [tableSettings]="tableSettings" (onCommandClick)='onCommandClick($event)' [tableSchema]="quotationTableSchema"></it-mat-table>
  </mat-card-content>
</mat-card>
<mat-sidenav class="search-panel" position="end" dark #sidenav mode="push" opened="false">
  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon>search</mat-icon>
      </div>
      <mat-card-title>
        Advanced Search
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-nav-list style="margin-left:50px;">
    <mat-form-field appearance="standard">
      <mat-label>Phone</mat-label>
      <input matInput appearance="standard" placeholder="Phone" name="Phone" [(ngModel)]="searchFilter.Phone" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" name="reference" [(ngModel)]="searchFilter.Name" #reference />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Company Name</mat-label>
      <input matInput appearance="standard" placeholder="CompanyName" name="CompanyName" [(ngModel)]="searchFilter.CompanyName"
        #CompanyName />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Quotation No</mat-label>
      <input matInput appearance="standard" placeholder="QuotationNo" name="QuotationNo" [(ngModel)]="searchFilter.QuotationNo"
        #QuotationNo />
    </mat-form-field>

  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-action-list>
      <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
        (click)="searchQuotations(searchFilter);sidenav.toggle()">
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
        (click)="resetSearchFilter(sidenav)">
        <mat-icon>refresh</mat-icon>Reset
      </button>
    </mat-action-list>
  </mat-card-header>
</mat-sidenav>
<!-- </mat-sidenav-container> -->
