<form #quotationForm="ngForm">
  <mat-card>
    <mat-toolbar style="background-color: #FFF">
      <mat-toolbar-row>
        <span class="view-card-title"> {{pageTitle}}</span>
        <span class="title-spacer"></span>
        <mat-card-actions>
          <button mat-mini-fab class="primary" style="margin-right:10px; background-color:green" type="submit" 
          (click)="onSubmit(quotationForm)" *ngIf="request && request.RequestServiceDetails && request.RequestServiceDetails.length > 0">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-mini-fab class="" style="margin-right:10px;" (click)="Close(quotationForm)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-card-actions>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider class="title-Divider"></mat-divider>
    <mat-card-content style="margin: 5 0 5 10px;">
      <mat-tab-group [(selectedIndex)]=selectedIndex>
        <mat-tab label="Basic Details">
          <br/><br/>
      <div class="form-card">
     
      </div>
      </mat-tab>
      <mat-tab label="Services">
        <mat-card>
         <mat-card-content>
           <it-mat-table #serviceTable [dataSource]="request.RequestServiceDetails" [tableSettings]="serviceTableSettings"
             [tableSchema]="serviceTableSchema" (onCommandClick)='onServiceCommandClick($event)'></it-mat-table>
         </mat-card-content>
       </mat-card>
     </mat-tab>
     <!-- <mat-tab label="Follow Up" *ngIf="request.RequestFollowup.length > 0 || request.RequestMaster.RequestId > 0">
       <mat-card>
         <mat-card-content>
           <it-mat-table [dataSource]="request.RequestFollowup" [tableSettings]="followupTableSettings"
             [tableSchema]="followUpTableSchema" (onCommandClick)='onFollowUpCommandClick($event)'></it-mat-table>
         </mat-card-content>
       </mat-card>
     </mat-tab> -->
   </mat-tab-group>
    </mat-card-content>
  </mat-card>
</form>

<app-add-followup [requestType]="requestTypeId" #addFollowUp (onFollowUpSaved)="onFollowUpSaved()"></app-add-followup>