<form novalidate (ngSubmit)="saveQuotation()" [formGroup]="quotationForm">
  <mat-card>

    <mat-toolbar style="background-color: #FFF">
      <mat-toolbar-row>
        <span class="view-card-title"> {{pageTitle}}</span>
        <span class="title-spacer"></span>
        <mat-card-actions>
          <button mat-mini-fab class="primary" style="margin-right:10px; background-color:darkgray" type="submit"
            [disabled]='!quotationForm.valid'>
            <mat-icon>save</mat-icon>
          </button>
          <button mat-mini-fab class="" style="margin-right:10px; " [routerLink]="['/quotations']">
            <mat-icon>cancel</mat-icon>
          </button>

        </mat-card-actions>

      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card-content style="margin: 5 0 5 10px;">
      <div class="form-card">
        <mat-grid-list cols="12" rowHeight="80px">
          <mat-grid-tile [colspan]="fieldColspan">
            <!-- colspan="4"> -->
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Quotation No</mat-label>
              <input matInput id="QuotationNo" type="text" placeholder="Quotation No (required)"
                formControlName="QuotationNo" />
              <mat-error *ngIf="displayMessage.QuotationNo">
                {{displayMessage.QuotationNo}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput id="Name" type="text" placeholder="Name (required)"
                formControlName="Name" />
              <mat-error *ngIf="displayMessage.Name">
                {{displayMessage.Name}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="CompanyName" id="CompanyName" type="text"
                placeholder="CompanyName" formControlName="CompanyName" />
              <mat-error *ngIf="displayMessage.CompanyName">
                {{displayMessage.CompanyName}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="PhoneNo" id="PhoneNo" type="text"
                placeholder="PhoneNo" formControlName="PhoneNo" />
              <mat-error *ngIf="displayMessage.PhoneNo">
                {{displayMessage.PhoneNo}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput id="Email" type="Email" placeholder="Email " formControlName="Email" />
              <mat-error *ngIf="displayMessage.Email">
                {{displayMessage.Email}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-select placeholder="Select Source" #sourceIdId formControlName="SourceId"
                [(value)]="quotation.SourceId">
                <!-- <mat-option *ngFor="let customer of customers" [value]="customer.id">
                  {{customer.firstname}} {{customer.lastname}}
                </mat-option> -->
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Amount" id="Amount" type="text"
                placeholder="Amount" formControlName="Amount" />
              <mat-error *ngIf="displayMessage.Amount">
                {{displayMessage.Amount}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="12">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="TermsAndCondition" id="TermsAndCondition" type="text"
                placeholder="TermsAndCondition" formControlName="TermsAndCondition" />
              <mat-error *ngIf="displayMessage.TermsAndCondition">
                {{displayMessage.TermsAndCondition}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-card-content>
  </mat-card>
</form>
<mat-card>
  <mat-card-content>
    <it-mat-table [dataSource]="followUpList" [tableSchema]="followUpTableSchema"></it-mat-table>
  </mat-card-content>
</mat-card>