<mat-sidenav class="search-panel" position="end" position="end" dark #assignsidenav mode="push" opened="false">
  <form #assignForm="ngForm">
  <mat-card class="profile-card">
    
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon>transfer_within_a_station</mat-icon>
      </div>
      <mat-card-title>
        Assign Request
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-nav-list style="margin-left:10px;">
   
    <mat-form-field appearance="outline" *ngIf="requestDetails!= null && requestDetails.RequestId > 0">
      <mat-label>Request No</mat-label>
      <input matInput appearance="outline" placeholder="RequestNo" name="RequestNo" [(ngModel)]="requestDetails.RequestNo" #RequestNo readonly/>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Department</mat-label>
      <mat-select placeholder="Select Department"  [(ngModel)]="requestDetails.DepartmentId" name="DepartmentId"
      [(value)]="requestDetails.DepartmentId" #DepartmentId="ngModel" (selectionChange)="onDepartmentChanged($event)" required>
        <mat-option *ngFor="let item of requestSelectList.Departments" [value]="item.Value" >
          {{item.Text}} 
        </mat-option>
      </mat-select>
      <mat-error>Please select department</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Assign To</mat-label>
      <mat-select placeholder="Select Advisor"  [(ngModel)]="requestDetails.AdvisorId"
      [(value)]="requestDetails.AdvisorId" name="AdvisorId" #AdvisorId="ngModel">
      <mat-option>None</mat-option>
        <mat-option *ngFor="let item of requestSelectList.Advisors" [value]="item.Value" >
          {{item.Text}} 
        </mat-option>
      </mat-select>
      <mat-error>Please select advisor</mat-error>
    </mat-form-field>
    <div class="form-group form-check">
      <mat-checkbox name="TransferPendingFollowUp" id="TransferPendingFollowUp" class="form-check-input"
        [(ngModel)]="requestDetails.TransferPendingFollowUp" #TransferPendingFollowUp="ngModel">Transfer Pending Follow Up</mat-checkbox>
    </div>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-action-list>
      <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
        (click)="onSubmit(assignForm);">
        <mat-icon>save</mat-icon>Assign
      </button>
      <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
        (click)="onCancelClick()">
        <mat-icon>refresh</mat-icon>Cancel
      </button>
    </mat-action-list>
  </mat-card-header>
</form>
</mat-sidenav>