<form #followUpForm="ngForm">
<mat-sidenav class="search-panel" position="end" position="end" dark #sidenav mode="push" opened="false">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar">
          <mat-icon>queue</mat-icon>
        </div>
        <mat-card-title>
          {{requestTypeName}} Follow up
        </mat-card-title>
        <mat-card-title>
          {{requestNo}}
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-nav-list style="margin-left:20px;">
     

      <!-- <mat-form-field>
        <input matInput type="text" placeholder="Name." name="Name" [(ngModel)]="searchFilter.Name"
          #reference />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Email" name="Email" [(ngModel)]="searchFilter.Email"
          #reference />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Phone" name="Phone" [(ngModel)]="searchFilter.Phone"
          #amount />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Enquiry No" name="EnquiryNo" [(ngModel)]="searchFilter.EnquiryNo"
          #quantity />
      </mat-form-field> -->
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-card-header>
      <mat-action-list>
        <!-- <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
          (click)="searchEnquiries(searchFilter);sidenav.toggle()">
          <mat-icon>search</mat-icon>Search
        </button>
        <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
          (click)="resetSearchFilter(sidenav)">
          <mat-icon>refresh</mat-icon>Reset
        </button> -->
      </mat-action-list>
    </mat-card-header>
  </mat-sidenav>
</form>