<!-- <mat-sidenav-container> -->
<mat-card class='light' style="height: 100%;">
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>{{pageTitle }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <it-mat-table [dataSource]="enquiryList" [tableSettings]="tableSettings" [tableSchema]="enquiryTableSchema"
      (onCommandClick)='onCommandClick($event)'></it-mat-table>
  </mat-card-content>
</mat-card>
<mat-sidenav class="search-panel" position="end" position="end" dark #sidenav mode="push" opened="false">
  <form #enquiryForm="ngForm">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar">
          <mat-icon>search</mat-icon>
        </div>
        <mat-card-title>
          Advanced Search
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-nav-list style="margin-left:10px;">
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="fromDate" [(ngModel)]="searchFilter.FromDate" name="FromDate" required>
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker #fromDate color="primary"></mat-datepicker>
        <mat-error>From Date is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="toDate" [(ngModel)]="searchFilter.ToDate" name="ToDate" required>
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate color="primary"></mat-datepicker>
        <mat-error>To Date is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput type='text' [(ngModel)]="searchFilter.PhoneNo" name="PhoneNo" #PhoneNo="ngModel" maxlength="13"
          minlength="10" pattern="^(?!0+$)(\+\d{1,3}[- ]?)?\d{10}$">
        <mat-error *ngIf="((PhoneNo.touched || enquiryForm.submitted) && PhoneNo.errors)">
          Please enter valid value for mobile number
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type='text' [(ngModel)]="searchFilter.LastName" name="LastName" #LastName="ngModel"
          maxlength="50" pattern="^[a-zA-Z]+$">
        <mat-error *ngIf="(LastName.touched || enquiryForm.submitted) && LastName.errors">
          Please enter valid last name
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fist Name</mat-label>
        <input matInput type='text' [(ngModel)]="searchFilter.FirstName" name="FirstName" #FirstName="ngModel"
          maxlength="50" pattern="^[a-zA-Z]+$">
        <mat-error *ngIf="(FirstName.touched || enquiryForm.submitted) && FirstName.errors">
          Please enter valid first name
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput appearance="outline" placeholder="Company Name" name="CompanyName"
          [(ngModel)]="searchFilter.CompanyName" #CompanyName />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enquiry No</mat-label>
        <input matInput appearance="outline" placeholder="Enquiry No" name="RequestNo"
          [(ngModel)]="searchFilter.RequestNo" #RequestNo />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Source</mat-label>
        <mat-select placeholder="Select Source" [(ngModel)]="searchFilter.SourceId" name="SourceId" #SourceId="ngModel">
          <mat-option *ngFor="let item of requestSelectList.Sources" [value]="item.Value">
            {{item.Text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-card-header>
      <mat-action-list>
        <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
          (click)="searchEnquiries(searchFilter)">
          <mat-icon>search</mat-icon>Search
        </button>
        <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
          (click)="resetSearchFilter(sidenav)">
          <mat-icon>close</mat-icon>Close
        </button>
      </mat-action-list>
    </mat-card-header>
  </form>
</mat-sidenav>

<app-assign-request-advisor #assignAdvisor [requestDetails]="requestDetails"
  [multipleRequestDetails]="selectedEnquiryList" (onAssigned)="onAssigned()"></app-assign-request-advisor>
<!-- </mat-sidenav-container> -->