<!-- <mat-sidenav-container> -->
<mat-card class='light' style="height: 100%;">
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>{{pageTitle }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <it-mat-table [dataSource]="enquiryList" [tableSettings]="tableSettings"  [tableSchema]="enquiryTableSchema" (onCommandClick)='onCommandClick($event)'></it-mat-table>
  </mat-card-content>
</mat-card>
<mat-sidenav class="search-panel" position="end" position="end" dark #sidenav mode="push" opened="false">

  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon>search</mat-icon>
      </div>
      <mat-card-title>
        Advanced Search
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-nav-list style="margin-left:10px;">
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="fromDate" [(ngModel)]="searchFilter.FromDate" name="FromDate" required>
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate color="primary"></mat-datepicker>
      <mat-error>From Date is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="toDate" [(ngModel)]="searchFilter.ToDate" name="ToDate" required>
      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
      <mat-datepicker #toDate color="primary"></mat-datepicker>
      <mat-error>To Date is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput appearance="outline" placeholder="Phone" name="PhoneNo" [(ngModel)]="searchFilter.PhoneNo" #PhoneNo />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>CustomerName</mat-label>
      <input matInput placeholder="Customer Name" name="CustomerName" [(ngModel)]="searchFilter.CustomerName" #CustomerName />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Company Name</mat-label>
      <input matInput appearance="outline" placeholder="Company Name" name="CompanyName" [(ngModel)]="searchFilter.CompanyName"
        #CompanyName />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Quotation No</mat-label>
      <input matInput appearance="outline" placeholder="Quotation No" name="RequestNo" [(ngModel)]="searchFilter.RequestNo"
        #RequestNo />
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Source</mat-label>
      <mat-select placeholder="Select Source"  [(ngModel)]="searchFilter.SourceId" name="SourceId" #SourceId="ngModel">
        <mat-option *ngFor="let item of requestSelectList.Sources" [value]="item.Value" >
          {{item.Text}} 
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-action-list>
      <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
        (click)="searchEnquiries(searchFilter);sidenav.toggle()">
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
        (click)="resetSearchFilter(sidenav)">
        <mat-icon>refresh</mat-icon>Reset
      </button>
    </mat-action-list>
  </mat-card-header>
</mat-sidenav>
<!-- </mat-sidenav-container> -->
