<form novalidate (ngSubmit)="saveEnquiry()" [formGroup]="enquiryForm">
  <input type="hidden" formControlName="RequestId">
  
  <mat-card>
    <mat-toolbar style="background-color: #FFF">
      <mat-toolbar-row>
        <span class="view-card-title"> {{pageTitle}}</span>
        <span class="title-spacer"></span>
        <mat-card-actions>
          <button mat-mini-fab class="primary" style="margin-right:10px; background-color:darkgray" type="submit"
            [disabled]='!enquiryForm.valid'>
            <mat-icon>save</mat-icon>
          </button>
          <button mat-mini-fab class="" style="margin-right:10px; " [routerLink]="['/enquiries']">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-card-actions>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-card-content style="margin: 5 0 5 0px;">
      <div class="form-card">
        <mat-grid-list cols="12" rowHeight="80px">
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Enquiry No.</mat-label>
              <input matInput placeholder="Enquiry No" id="RequestNo" type="text"
                placeholder="Enquiry No." formControlName="RequestNo" />
              <mat-error *ngIf="displayMessage.RequestNo">
                {{displayMessage.RequestNo}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Enquiry Date.</mat-label>
              <input matInput [matDatepicker]="requestDateId" placeholder="Enquiry Date" [value]="request.RequestMaster.RequestDate">
              <mat-datepicker-toggle matSuffix [for]="requestDateId"></mat-datepicker-toggle>
              <mat-datepicker #requestDateId></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan < 6 ? fieldColspan * 2 : fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Company Name</mat-label>
              <input matInput placeholder="CompanyName" id="CompanyName" type="text"
                placeholder="CompanyName" formControlName="CompanyName" />
              <mat-error *ngIf="displayMessage.CompanyName">
                {{displayMessage.CompanyName}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="LastName" id="LastName" type="text"
                placeholder="LastName" formControlName="LastName" />
              <mat-error *ngIf="displayMessage.LastName">
                {{displayMessage.LastName}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="FirstName" id="FirstName" type="text"
                placeholder="FirstName" formControlName="FirstName" />
              <mat-error *ngIf="displayMessage.FirstName">
                {{displayMessage.FirstName}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Middle Name</mat-label>
              <input matInput placeholder="MiddleName" id="MiddleName" type="text"
                placeholder="MiddleName" formControlName="MiddleName" />
              <mat-error *ngIf="displayMessage.MiddleName">
                {{displayMessage.MiddleName}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

         
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="enquiryDOBId" placeholder="Date of birth" [value]="request.RequestMaster.DOB">
              <mat-datepicker-toggle matSuffix [for]="enquiryDOBId"></mat-datepicker-toggle>
              <mat-datepicker #enquiryDOBId></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" id="Email" type="text"
                placeholder="Email" formControlName="Email" />
              <mat-error *ngIf="displayMessage.Email">
                {{displayMessage.Email}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Phone No 1</mat-label>
              <input matInput id="PhoneNo1" type="text"
                placeholder="Phone No" formControlName="PhoneNo1" />
              <mat-error *ngIf="displayMessage.PhoneNo2">
                {{displayMessage.PhoneNo2}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>AlterNate No</mat-label>
              <input matInput placeholder="AlterNate No" id="PhoneNo2" type="text"
               formControlName="PhoneNo2" />
              <mat-error *ngIf="displayMessage.PhoneNo2">
                {{displayMessage.PhoneNo2}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Website</mat-label>
              <input matInput placeholder="Website" id="Website" type="text"
                placeholder="Website" formControlName="Website" />
              <mat-error *ngIf="displayMessage.Website">
                {{displayMessage.Website}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile  [colspan]="12">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" id="Address" type="text"
                placeholder="Address" formControlName="Address" />
              <mat-error *ngIf="displayMessage.Address">
                {{displayMessage.Address}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
         

          
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Amount</mat-label>
              <input matInput placeholder="Amount" id="Amount" type="text"
                placeholder="Amount" formControlName="Amount" />
              <mat-error *ngIf="displayMessage.Amount">
                {{displayMessage.Amount}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Source</mat-label>
              <mat-select placeholder="Select Source" #sourceIdId formControlName="SourceId"
                [(value)]="request.RequestMaster.SourceId">
                <mat-option *ngFor="let item of requestSelectList.Sources" [value]="item.Value">
                  {{item.Text}} 
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Client Behaviour</mat-label>
              <mat-select placeholder="Select ClientBehaviour" #ClientBehaviourId formControlName="ClientBehaviourId"
                [(value)]="request.RequestMaster.ClientBehaviourId">
                <mat-option *ngFor="let item of requestSelectList.ClientBehaviour" [value]="item.Value">
                  {{item.Text}} 
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </mat-card-content>
    <!-- </div> -->
  </mat-card>
</form>
<mat-card *ngIf="request.RequestFollowup.length > 0 || request.RequestMaster.RequestId > 0">
  <mat-card-content>
    <it-mat-table [dataSource]="request.RequestFollowup" [tableSettings]="tableSettings" [tableSchema]="followUpTableSchema" (onCommandClick)='onCommandClick($event)'></it-mat-table>
  </mat-card-content>
</mat-card>
<app-add-followup [requestType]="requestTypeId" #addFollowUp (onFollowUpSaved)="onFollowUpSaved()"></app-add-followup>