<mat-card>
    <mat-card-header>
        <mat-card-title class="view-card-title">
            <h1>{{pageTitle }}</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <it-mat-table [dataSource]="stateList" [tableSettings]="tableSettings" (onAddClick)="onAddStateClick($event)" [tableSchema]="stateTableSchema"></it-mat-table>
    </mat-card-content>
</mat-card>


<mat-sidenav class="search-panel" position="end" dark #stateNav mode="push" opened="false">
  <form #stateForm="ngForm">  
  <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar">
          <mat-icon>queue</mat-icon>
        </div>
        <mat-card-title>
          Add-Update State
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-nav-list style="margin-left:50px;">
      <mat-form-field appearance="standard">
        <mat-label>State Name</mat-label>
        <input matInput appearance="standard" placeholder="State Name" name="StateName" maxlength="200"
          [(ngModel)]="stateMaster.StateName" required #StateName="ngModel"/>
        <mat-error *ngIf="(StateName.touched || stateForm.submitted) && StateName.errors">
          Please enter valid State name
        </mat-error>
      </mat-form-field>
<!--<mat-form-field appearance="standard">  -->
        <mat-checkbox class="checkbox_margin">Is Active</mat-checkbox>
        <!-- <mat-label>Is Active</mat-label> -->
        <!-- <mat-checkbox>Is Active!</mat-slide-toggle> -->
        <!-- [(ngModel)]="stateMaster.IsActive" -->
      <!-- </mat-form-field>  -->
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-card-header>
      <mat-action-list>
        <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
          (click)="saveState(stateForm);sidenav.toggle()">
          <mat-icon>save</mat-icon>Save
        </button>
        <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
          (click)="reset()">
          <mat-icon>refresh</mat-icon>Cancel
        </button>
      </mat-action-list>
    </mat-card-header>
  </form>
  </mat-sidenav>