<mat-card class='light' style="height: 100%;">
    <mat-card-header>
      <mat-card-title class="view-card-title">
        <h1>{{pageTitle }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <it-mat-table [dataSource]="employeeList" [tableSettings]="tableSettings" (onCommandClick)='onCommandClick($event)' [tableSchema]="employeeTableSchema"></it-mat-table>
    </mat-card-content>
  </mat-card>
  <mat-sidenav class="search-panel" position="end" dark #sidenav mode="push" opened="false">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar">
          <mat-icon>search</mat-icon>
        </div>
        <mat-card-title>
          Advanced Search
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-nav-list style="margin-left:50px;">
      <mat-form-field appearance="standard">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="FirstName" name="reference" [(ngModel)]="searchFilter.FirstName" #reference />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput appearance="standard" placeholder="Email Id" name="EmailId" [(ngModel)]="searchFilter.EmailId"
          #EmailId />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Login Name</mat-label>
        <input matInput appearance="standard" placeholder="LoginName" name="LoginName" [(ngModel)]="searchFilter.LoginName"
          #LoginName />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>MobileNo1</mat-label>
        <input matInput appearance="standard" placeholder="MobileNo1" name="MobileNo1" [(ngModel)]="searchFilter.MobileNo1" />
      </mat-form-field>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-card-header>
      <mat-action-list>
        <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
          (click)="searchEmployees(searchFilter);sidenav.toggle()">
          <mat-icon>search</mat-icon>Search
        </button>
        <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
          (click)="resetSearchFilter(sidenav)">
          <mat-icon>refresh</mat-icon>Reset
        </button>
      </mat-action-list>
    </mat-card-header>
  </mat-sidenav>
  <!-- </mat-sidenav-container> -->
  