<form #employeeForm="ngForm">
    <mat-card>
        <mat-toolbar style="background-color: #FFF">
            <mat-toolbar-row>
                <span class="view-card-title"> {{pageTitle}}</span>
                <span class="title-spacer"></span>
                <mat-card-actions>
                    <button mat-mini-fab class="primary" style="margin-right:10px; background-color:green"
                        type="submit" (click)="saveEmployee(employeeForm)">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-mini-fab class="" style="margin-right:10px; " [routerLink]="['/employees']">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-card-content style="margin: 5 0 5 10px;">
         
            <div class="form-card">
                <mat-grid-list cols="12" rowHeight="80px">
                    <mat-grid-tile [colspan]="fieldColspan">
                        <!-- colspan="4"> -->
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput type='text' [(ngModel)]="employee.FirstName" name="FirstName" #FirstName="ngModel" maxlength="50" required>
                            <mat-error *ngIf="(FirstName.touched || employeeForm.submitted) && FirstName.errors?.required">
                                First Name Is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <!-- colspan="4"> -->
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Middle Name</mat-label>
                            <input matInput type='text' [(ngModel)]="employee.MiddleName" name="MiddleName" #MiddleName="ngModel" maxlength="50" required>
                            <mat-error *ngIf="(MiddleName.touched || employeeForm.submitted) && MiddleName.errors?.required">
                                Middle Name Is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput type='text' [(ngModel)]="employee.LastName" name="LastName" #LastName="ngModel" maxlength="50" required>
                            <mat-error *ngIf="(LastName.touched || employeeForm.submitted) && LastName.errors?.required">
                                Last Name Is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Mobile No 1</mat-label>
                            <input matInput type='text' [(ngModel)]="employee.MobileNo1" name="MobileNo1" #MobileNo1="ngModel" maxlength="10" minlength="10" required>
                            <mat-error *ngIf="(MobileNo1.touched || employeeForm.submitted) && MobileNo1.errors?.required">
                                Mobile No 1 Is required
                            </mat-error>
                            <mat-error *ngIf="(MobileNo1.touched) && (MobileNo1.errors?.maxlength || MobileNo1.errors?.minlength)">
                                Please enter valid value for mobile number
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Mobile No 2</mat-label>
                            <input matInput type='text' [(ngModel)]="employee.MobileNo2" name="MobileNo2" #MobileNo2="ngModel"  maxlength="10" minlength="10" required>
                            <mat-error *ngIf="(MobileNo2.touched || employeeForm.submitted) && MobileNo2.errors?.required">
                                Mobile No 2 Is required
                            </mat-error>
                            <mat-error *ngIf="(MobileNo2.touched) && (MobileNo2.errors?.maxlength || MobileNo2.errors?.minlength)">
                                Please enter valid value for mobile number
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>EmailId</mat-label>
                            <input matInput type='text' [(ngModel)]="employee.EmailId" name="EmailId" #EmailId="ngModel" maxlength="70" required>
                            <mat-error *ngIf="(EmailId.touched || employeeForm.submitted) && EmailId.errors?.required">
                                Email Id Is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Address1</mat-label>
                            <input matInput type='text' [(ngModel)]="employee.Address1" name="Address1" #Address1="ngModel" maxlength="350" required>
                            <mat-error *ngIf="(Address1.touched || employeeForm.submitted) && Address1.errors?.required">
                                Address1 Is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Address2</mat-label>
                            <input matInput type='text' [(ngModel)]="employee.Address2" name="Address2" #Address2="ngModel" maxlength="350" required>
                            <mat-error *ngIf="(Address2.touched || employeeForm.submitted) && Address2.errors?.required">
                                Address2 Is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Postal Code</mat-label>
                            <input matInput type='text' [(ngModel)]="employee.PostalCode" name="PostalCode" #PostalCode="ngModel" maxlength="6" required>
                            <mat-error *ngIf="(PostalCode.touched || employeeForm.submitted) && PostalCode.errors?.required">
                                Postal Code Is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Target Amount</mat-label>
                            <input matInput type='number' [(ngModel)]="employee.TargetAmount" name="TargetAmount" #TargetAmount="ngModel" required>
                            <mat-error *ngIf="(TargetAmount.touched || employeeForm.submitted) && TargetAmount.errors?.required">
                                Target Amount Is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Login Name</mat-label>
                            <input matInput type='text' [(ngModel)]="employee.LoginName" name="LoginName" #LoginName="ngModel" maxlength="50" required>
                            <mat-error *ngIf="(LoginName.touched || employeeForm.submitted) && LoginName.errors?.required">
                                Login Name Is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type='password' [(ngModel)]="employee.Password" name="Password" #Password="ngModel" required>
                            <mat-error *ngIf="(LoginName.touched || employeeForm.submitted) && Password.errors?.required">
                                Password Is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Designation</mat-label>
                            <mat-select placeholder="Select Designation"  [(ngModel)]="employee.DesignationId" name="DesignationId" #DesignationId="ngModel">
                              <mat-option *ngFor="let item of employeeSelectList.Designations" [value]="item.Value" >
                                {{item.Text}} 
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Department</mat-label>
                            <mat-select placeholder="Select Department"  [(ngModel)]="employee.DepartmentId" name="DepartmentId" #DepartmentId="ngModel">
                              <mat-option *ngFor="let item of employeeSelectList.Departments" [value]="item.Value" >
                                {{item.Text}} 
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Role</mat-label>
                            <mat-select placeholder="Select Role"  [(ngModel)]="employee.RoleId" name="RoleId" #RoleId="ngModel">
                              <mat-option *ngFor="let item of employeeSelectList.Roles" [value]="item.Value" >
                                {{item.Text}} 
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan">
                        <div>
                            <mat-checkbox name="IsActive" id="IsActive" class="form-check-input" [(ngModel)]="employee.IsActive"
                                #IsActive="ngModel">Is Active</mat-checkbox>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="fieldColspan" [rowspan]="2">
                        <div>
                            <p><small>Select Departments</small></p>
                            <mat-selection-list appearance="outline" name="departmens" #departments [(ngModel)]="selectedDepartments"
                                (ngModelChange)="onDepartmentSelectionChange($event)">
                                <mat-list-option [value]="dept" *ngFor="let dept of employeeSelectList.Departments">
                                    {{dept.Text}}
                                </mat-list-option>
                            </mat-selection-list>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card-content>
    </mat-card>
</form>