$bg: #273142;
$light-text: #738297;
$dark-text: #273142;
$light-bg: #313D4F;

.grid-container {
  margin: 20px;
  width: 100% !important;
}

app-line-chart, app-bar-chart, app-radar-chart, app-pie-chart {
  flex-grow: 1;
}

/* Table Layout */
.dashboard-table {
	background  : $bg;
	width: 100%;
	td,
	th {
		color: white !important;
		padding: 5px 11px !important;
		vertical-align: middle !important;;
	}
	
	td p {
		font-size: 12px;
		
		&:last-of-type {
			color: $light-text;
			font-size: 11px;
		}
	}
	
	th {
		background-color: $light-bg !important;;
	}
	
	tr {
		&:hover {
			background-color: lighten($dark-text, 5%) !important;;
		}
		
		&:not(:last-of-type) {
			border-bottom: 1px solid $light-bg !important;;
		}
	}
	
	.member {
		figure,
		.member-info {
			display: inline-block;
			vertical-align: top;
		}
		
		figure + .member-info {
			margin-left: 7px;
		}
		
		img {
			border-radius: 50%;
			height: 32px;
			width: 32px;
		}
	}

  
	.status > form {
		float: right;
	}
	
	.status-text {
		display: inline-block;
		font-size: 12px;
		margin: 5px 0;
		padding-left: 20px;
		position: relative;
		
		&:before {
			border: 3px solid;
			border-radius: 50%;
			content: "";
			height: 14px;
			left: 0;
			position: absolute;
			top: 1px;
			width: 14px;
		}
		
		&.status-blue:before {
			border-color: #1C93ED;
		}
		
		&.status-green:before {
			border-color: #66B92E;
		}
		
		&.status-orange:before {
			border-color: #DA932C;
		}
		
		&.status-red:before {
			border-color: #D65B4A;
		}
	}
}
