.message {
    padding: 10px;
    font-weight: bold;
}

th{
    background-color: whitesmoke;
    color: black;
}
        
.mat-elevation-z8 {
    table thead th {
        color: white !important;
        font-weight: 500 !important;
        font-size: 15px !important;
        background-color: #1e88e5;
    }
    
    table tfoot tr {
        font-weight: 1000 !important;
        font-size: 15px !important;
    }

    mat-card-title {
        text-align: left;
        padding-left: 20px;
        padding-top: 20px;
    }
    
    mat-card-title hr {
        background-color: #1e88e5;
    }
    
    mat-card {
        text-align: center;
        margin: 0.5%;
        border: 1px solid #1e88e5;
    }

    tbody {
        text-align: left;
    }

    tfoot {
        text-align: left;
    }

    table {
        width: 100%;
        margin-top: 15px;
    }

    .action-container{
        flex-direction: initial;
        text-align: center;
        padding: 15px 0px;
    }

    mat-icon:hover{
        cursor: pointer;
    }

    .mat-cell {
        color: white;
        font-size: 10px;
    }
    
    .cell-fab_U {
        width: 20px;
        height: 20px;
        line-height: 14px;
        font-size: 14px;
   
        &::ng-deep .mat-button-wrapper{
            line-height: 14px;
            padding: 0;
   
             .mat-icon {
                 font-size: 14px;
                 padding-right: 4px;
                 padding-top: 4px;
             }
       }
   }
    
    // th.mat-header-cell {
    //     text-align: center !important;
    // }
}

.table-container.mat-elevation-z8 {    
    overflow-x: auto !important;
  }
  .table-container .mat-table.mat-table {
    min-width: 450px !important;
  }