<form #enquiryForm="ngForm">
  <mat-card>
    <mat-toolbar style="background-color: #FFF">
      <mat-toolbar-row>
        <span class="view-card-title"> {{pageTitle}}</span>
        <span class="title-spacer"></span>
        <mat-card-actions>
          <button mat-mini-fab class="primary" style="margin-right:10px; background-color:green" type="submit"
            (click)="onFollowupClick()"
            *ngIf="allowSave">
            <mat-icon>add_ic_call</mat-icon>
          </button>
        </mat-card-actions>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider class="title-Divider"></mat-divider>
    <mat-card-content style="margin: 5 0 5 0px;">
      <mat-tab-group [(selectedIndex)]=selectedIndex>
        <mat-tab label="Request service Details">
          <br /><br />
          <div class="form-card">
            <mat-grid-list cols="12" rowHeight="500px">
              <mat-grid-tile [colspan]="fieldColspan">
                <mat-card style="width: 99%;">
                  <h3>{{request.RequestServiceDetail.ServiceName}}</h3>
                  <mat-card-subtitle>Department : {{request.RequestServiceDetail.DepartmentName}} <br /> Attempts :
                    {{request.RequestServiceDetail.Attempts}}</mat-card-subtitle>
                  <mat-divider></mat-divider>
                  <mat-list>
                    <mat-list-item>
                      <mat-icon matListAvatar>monetization_on</mat-icon>
                      <h4 matLine>Quoted Price : {{request.RequestServiceDetail.QuoatedPrice}}</h4>
                      <p matLine>Agreed Price : {{request.RequestServiceDetail.AgreedPrice}}</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListAvatar>description</mat-icon>
                      <h4 matLine>Lead Status : {{request.RequestServiceDetail.LeadStatusName}}</h4>
                      <p matLine>Stage : {{request.RequestServiceDetail.StageName}}</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListAvatar>access_time</mat-icon>
                      <h4 matLine>{{request.RequestServiceDetail.AssignedOn | date :'medium' }}</h4>
                      <p matLine>Assigned On</p>
                    </mat-list-item>
                    <mat-divider matInset></mat-divider>
                    <mat-list-item>
                      <mat-icon matListAvatar>today</mat-icon>
                      <h4 matLine>{{request.RequestServiceDetail.LastFollowupDate| date :'medium'}}</h4>
                      <p matLine>Last Followup</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListAvatar>today</mat-icon>
                      <h4 matLine>{{request.RequestServiceDetail.NextFollowupDate | date :'medium'}}</h4>
                      <p matLine>Next Follow up</p>
                    </mat-list-item>
                  </mat-list>
                </mat-card>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="fieldColspan">
                <mat-card style="width: 99%;" *ngIf="request.RequestMaster.ClientTypeId == '1'">
                  <h3>
                    <span> Client Type : Corporate </span>
                  </h3>
                  <mat-card-subtitle>
                    <span>
                      <span>{{request.OrganizationMaster.OrganizationName}}</span> <br />
                      <span> Website : {{request.OrganizationMaster.Website}} </span> <span> Email :
                        {{request.OrganizationMaster.EmailId}} </span>
                    </span>
                  </mat-card-subtitle>
                  <mat-divider></mat-divider>
                  <mat-list>
                    <mat-list-item>
                      <mat-icon matListAvatar>corporate_fare</mat-icon>
                      <h4 matLine>PAN No : {{request.OrganizationMaster.PANNO}}</h4>
                      <p matLine>GST No : {{request.OrganizationMaster.GSTNO}}</p>
                    </mat-list-item>
      
                    <mat-list-item>
                      <mat-icon matListAvatar>corporate_fare</mat-icon>
                      <h4 matLine>Industry Type : {{request.OrganizationMaster.IndustryType}}</h4>
                      <p matLine>Total Employees : {{request.OrganizationMaster.TotalEmployees}}</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListAvatar>corporate_fare</mat-icon>
                      <h4 matLine>Address : {{request.OrganizationMaster.Address}}</h4>
                      <p matLine>Phone No : {{request.OrganizationMaster.PhoneNo}}</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListAvatar>account_circle</mat-icon>
                      <h4 matLine>{{request.ContactPersonMaster.Salutation}} {{request.ContactPersonMaster.FirstName}}
                        {{request.ContactPersonMaster.MiddleName}} {{request.ContactPersonMaster.LastName}}</h4>
                      <p matLine>Phone No : {{request.ContactPersonMaster.PhoneNo1}}</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListAvatar>account_circle</mat-icon>
                      <h4 matLine>Email : {{request.ContactPersonMaster.Email}}</h4>
                      <p matLine>Designation : {{request.ContactPersonMaster.Designation}}</p>
                    </mat-list-item>
                  </mat-list>
                </mat-card>
                <mat-card style="width: 99%;" *ngIf="request.RequestMaster.ClientTypeId != '1'">
                  <h3>
                    <span> Client Type : Non Corporate </span>
                  </h3>
                  <mat-card-subtitle>
                    <span>
                      <span>{{request.ContactPersonMaster.Salutation}} {{request.ContactPersonMaster.FirstName}}
                        {{request.ContactPersonMaster.MiddleName}} {{request.ContactPersonMaster.LastName}}</span> <br />
                      <span> Email : {{request.ContactPersonMaster.Email}} </span>
                    </span>
                  </mat-card-subtitle>
                  <mat-divider></mat-divider>
                  <mat-list>
                    <mat-list-item>
                      <mat-icon matListAvatar>corporate_fare</mat-icon>
                      <h4 matLine>{{request.ContactPersonMaster.Address}}</h4>
                      <p matLine>Address</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListAvatar>settings_cell</mat-icon>
                      <h4 matLine>{{request.ContactPersonMaster.PhoneNo1}}</h4>
                      <p matLine>Phone No 1</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListAvatar>settings_cell</mat-icon>
                      <h4 matLine>{{request.ContactPersonMaster.PhoneNo2}}</h4>
                      <p matLine>Phone No 2</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListAvatar>aspect_ratio</mat-icon>
                      <h4 matLine>{{request.ContactPersonMaster.PANNO}}</h4>
                      <p matLine>PAN No</p>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListAvatar>access_time</mat-icon>
                      <h4 matLine>{{request.ContactPersonMaster.DOB}}</h4>
                      <p matLine>Date of Birth</p>
                    </mat-list-item>
                  </mat-list>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
      
          </div>
        </mat-tab>
        <mat-tab label="Previous Follow Ups" *ngIf="request.RequestFollowup.length > 0 || request.RequestMaster.RequestId > 0">
          <mat-card>
            <mat-card-content>
              <it-mat-table [dataSource]="request.RequestFollowup" [tableSettings]="followupTableSettings"
                [tableSchema]="followUpTableSchema"></it-mat-table>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <!-- </div> -->
  </mat-card>
</form>
<app-add-followup [requestType]="requestTypeId" #addFollowUp (onFollowUpSaved)="onFollowUpSaved()"></app-add-followup>