<mat-card>
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>{{pageTitle}}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <it-mat-table [dataSource]="clientList" [tableSettings]="tableSettings" [tableSchema]="clientTableSchema"
      (onCommandClick)='onCommandClick($event)'></it-mat-table>
  </mat-card-content>
</mat-card>
<mat-sidenav class="search-panel" position="end" dark #searchClientNav mode="push" opened="false">
  <form #clientForm="ngForm">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar">
          <mat-icon>search</mat-icon>
        </div>
        <mat-card-title>
          Search Client
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-nav-list style="margin-left:50px;">
      <mat-form-field appearance="standard">
        <mat-label>Client Name</mat-label>
        <input matInput type='text' [(ngModel)]="clientMaster.ClientName" name="ClientName" #ClientName="ngModel"
          maxlength="50" pattern="^[a-zA-Z]+$">
        <mat-error *ngIf="(ClientName.touched || clientForm.submitted)">
          Please enter valid name
        </mat-error>
      </mat-form-field>

    </mat-nav-list>
    <mat-nav-list style="margin-left:50px;">
      <mat-form-field appearance="standard">
        <mat-label>Company Name</mat-label>
        <input matInput appearance="standard" placeholder="Client Name" name="OrganizationName"
          [(ngModel)]="clientMaster.OrganizationName" maxlength="250" />
      </mat-form-field>

    </mat-nav-list>
    <mat-nav-list style="margin-left:50px;">
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput type='text' [(ngModel)]="clientMaster.Email" name="Email" #Email="ngModel" maxlength="100"
          minlength="3" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,4}$">
        <mat-error *ngIf="(Email.touched || clientForm.submitted)">
          Please enter valid email
        </mat-error>
      </mat-form-field>

    </mat-nav-list>
    <mat-nav-list style="margin-left:50px;">
      <mat-form-field appearance="standard">
        <mat-label>Mobile No</mat-label>
        <input matInput type='text' [(ngModel)]="clientMaster.PhoneNo1" name="PhoneNo1" #PhoneNo1="ngModel"
          maxlength="13" minlength="10" pattern="^(\+\d{1,3}[- ]?)?\d{10}$">
        <mat-error *ngIf="(PhoneNo1.touched || clientForm.submitted)">
          Please enter valid mobile number
        </mat-error>
      </mat-form-field>

    </mat-nav-list>
    <mat-nav-list style="margin-left:50px;">
      <mat-radio-group aria-labelledby="client-radio-group-label" class="client-radio-group" name="clientType"
        [(ngModel)]="selectedClientType" [(value)]="selectedClientType">
        <mat-radio-button class="client-radio-button" *ngFor="let clientType of clientTypes" [value]="clientType">
          {{clientType}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-card-header>
      <mat-action-list>
        <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
          (click)="searchClient(clientMaster);">
          <mat-icon>search</mat-icon>Search
        </button>
        <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;" (click)="reset()">
          <mat-icon>refresh</mat-icon>Cancel
        </button>
      </mat-action-list>
    </mat-card-header>
  </form>
  </mat-sidenav>

<app-add-client #addClient (onClientSaved)="onClientSaved()"></app-add-client>